:root {
  --dark-highlight: #94d7a2;
  --light-highlight: rgb(197, 59, 82);
}

.answer {
  & > label:is([data-checked='true']) {
    background: var(--light-highlight);
    padding: 0 var(--chip-padding);
  }

  & > label:is([data-checked='true']) > span {
    display: none;
  }
}

.isChecked {
  filter: opacity(0.5);
  pointer-events: none;
  user-select: none;
}

.isSelected {
  filter: none;
}

.isCorrect {
  color: var(--dark-highlight);
}

.isIncorrect {
  color: var(--light-highlight);
}

.answer[class*='isCorrect'] {
  & > label {
    background: none;
    filter: none;
    color: var(--dark-highlight);
    outline: solid 2px var(--dark-highlight);
  }

  & > label:is([data-checked='true']) {
    & > span {
      display: block;

      & > svg > path {
        fill: var(--dark-highlight);
      }
    }
  }
}
